*{
    box-sizing: border-box;
}

p{
    color: black;
}

a{
    display: inline-block;
}

body{
    font-family: "Roboto";
    font-size: 13px;
}

header{
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .contenedor .logo{
    width: 100px;
}

header .contenedor a{
    color: red;
    text-decoration: none;
    margin: 0 15px;
}


.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}

.boton.boton-rojo{
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}


.contenedor{
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
 
#inicio{
    position: relative;
}

#inicio img{
    width: 100%;
    display: block;
    
}

#inicio .bloque-inicio{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -200px;
}

#inicio .bloque-inicio h1{
    color: white;
    font-size: 35px;
}

#inicio .bloque-inicio p{
    color: white;
    font-size: 16px;
}

